body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.loggedInUsers {
    border: 2px solid black;
    min-height: 20px;
    width: 20vw;
    float: right;
    padding: 5px;
    margin-left: 5px;
}

.chatHistory {
    border: 2px solid black;
    min-height: 500px;
    width: 70vw;
    overflow: hidden;
}

.chatBox {
    height: 40px;
    width: 70vw;
    font-size: 26px;
}

.text-center {
    text-align: center;
}