<img src = "../images/banner.jpg">
<h1>Existing Users</h1>
<form ng-submit="login()" autocomplete="on">
    <input type="text" name="fname" ng-model="loginForm.username" placeholder="Username"/>
    <input type="password" ng-model="loginForm.password" placeholder="Password" />
    <input type="submit"/>
</form>
<h1>Register</h1>
<form ng-submit="signup()">
    <input type="text" ng-model="signupForm.username" placeholder="Username"/>
    <input type="password" ng-model="signupForm.password" placeholder="Password"/>
    <input type="submit"/>
</form>

<hr>

<div class = "jumbotron">
<h2> Useless Stack Leaderboard </h2>
<ul ng-repeat = "user in stackLeaderboard | orderBy : '-this.inventory[\'Useless Stack\']'">
<li> {{user.username}} : {{user.inventory["Useless Stack"]}}</li>
</ul>
</div>

